serveur.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions 
targetNamespace="https://info802-soap-service.herokuapp.com/wsdl" 
xmlns:apachesoap="http://xml.apache.org/xml-soap" 
xmlns:impl="https://info802-soap-service.herokuapp.com/wsdl" 
xmlns:intf="https://info802-soap-service.herokuapp.com/wsdl" 
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="https://info802-soap-service.herokuapp.com/wsdl" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="coutLivraison">
    <complexType>
     <sequence>
      <element name="poids" type="xsd:int"/>
      <element name="distance" type="xsd:int"/>
      <element name="prix" type="xsd::int"/>
     </sequence>
    </complexType>
   </element>
   <element name="coutLivraisonResponse">
    <complexType>
     <sequence>
      <element name="prixPoid" type="xsd:float"/>
      <element name="prixDist" type="xsd:float"/>
      <element name="prixSansFrais" type="xsd:float"/>
      <element name="prixTotal" type="xsd:float"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="coutLivraisonRequest">

      <wsdl:part element="impl:coutLivraison" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="coutLivraisonResponse">

      <wsdl:part element="impl:coutLivraisonResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>


   <wsdl:portType name="coutTotal">

      <wsdl:operation name="coutLivraison">

         <wsdl:input message="impl:coutLivraisonRequest" name="coutLivraisonRequest">

       </wsdl:input>

         <wsdl:output message="impl:coutLivraisonResponse" name="coutLivraisonResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   

   <wsdl:binding name="coutTotalSoapBinding" type="impl:coutTotal">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="coutLivraison">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="coutLivraisonRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="coutLivraisonResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>


   <wsdl:service name="servicesCoutLivraison">

      <wsdl:port binding="impl:coutTotalSoapBinding" name="coutTotal">

         <wsdlsoap:address location="https://info802-soap-service.herokuapp.com/wsdl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>